:root {
    --primary-color: #28cb8b;
    --secondary-color: #263238;
    --info-color: #2194f3;

    --neutral-white: #ffffff;
    --neutral-silver: #F5F7FA;
    --neutral-gray-blue: #ABBED1;
    --neutral-l_gray: #89939E;
    --neutral-gray: #717171;
    --neutral-d_gray: #4D4D4D;
    --neutral-black: #263238;

    --clr-shade1: #43A046;
    --clr-shade2: #388E3B;
    --clr-shade3: #237D31;
    --clr-shade4: #1B5E1F;
    --clr-shade5: #103E13;

    --clr-tint1: #66BB69;
    --clr-tint2: #81C784;
    --clr-tint3: #A5D6A7;
    --clr-tint4: #C8E6C9;
    --clr-tint5: #E8F5E9;

    --action-warning: #FBC02D;
    --action-error: #E53835;
    --action-success: #2E7D31;
    
    --ff-primary: 'Inter', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-medium: 500;
}

* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    font:inherit;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


.fw-semi-bold {
    font-weight: var(--fw-semi-bold);

}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}



.cardrow {
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    flex:33%;
    margin: 1em auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p {
    padding: .5em 1em;
    text-align: center;
}

.card h3 {
    padding: .5em 1em;
    text-align: center;
}
.clients {
    padding: 2em 0;
    text-align: center;
    margin-bottom: 1em;

}

.callcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.callcontent p {

    padding: 1em;
}


.clients h1 {

    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
}

.clients-images {
    display: flex;
    flex:1;
    flex-wrap: wrap;
    overflow: hidden;
}


.capab {
    padding: 2em 0;
    text-align: center;
    border: 1px solid yellow;
}


.navbar-nav {
    margin-left: auto;
}

.navbar-brand {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}